In [1]:
import pandas as pd

input_l = []
with open('input.txt') as fd:
    for line in fd:
        input_l.append([c for c in line.rstrip('\n')])
        
data = pd.DataFrame(input_l)

part1 = part2 = ''
for col in data.columns:
    part1 += data[col].value_counts().index[0]
    part2 += data[col].value_counts().index[-1]

print 'Part 1 answer is: {}'.format(part1)
print 'Part 2 answer is: {}'.format(part2)

Part 1 answer is: ursvoerv
Part 2 answer is: vomaypnn

In [2]:
import pandas as pd
df = pd.read_table('input.txt', header=None).apply(lambda x: pd.Series(list(x[0])), axis=1)
part1 = ''.join(df.apply(lambda x: x.value_counts().index[0]))
part2 = ''.join(df.apply(lambda x: x.value_counts().index[-1]))

print 'Message1 is: {}\nMessage2 is: {}'.format(part1, part2)

Message1 is: ursvoerv
Message2 is: vomaypnn

In [3]:
df.head()

   0  1  2  3  4  5  6  7
0  y  v  a  y  w  r  u  l
1  u  j  c  s  e  j  w  m
2  z  t  y  z  o  n  a  c
3  y  o  r  n  a  f  i  a
4  i  b  m  d  p  p  r  a