# `--- Day 6: Custom Customs ---`
```
As your flight approaches the regional airport where you'll switch to a much larger plane, customs declaration forms are distributed to the passengers.

The form asks a series of 26 yes-or-no questions marked a through z. All you need to do is identify the questions for which anyone in your group answers "yes". Since your group is just you, this doesn't take very long.

However, the person sitting next to you seems to be experiencing a language barrier and asks if you can help. For each of the people in their group, you write down the questions for which they answer "yes", one per line. For example:

abcx
abcy
abcz

In this group, there are 6 questions to which anyone answered "yes": a, b, c, x, y, and z. (Duplicate answers to the same question don't count extra; each question counts at most once.)

Another group asks for your help, then another, and eventually you've collected answers from every group on the plane (your puzzle input). Each group's answers are separated by a blank line, and within each group, each person's answers are on a single line. For example:

abc

a
b
c

ab
ac

a
a
a
a

b

This list represents answers from five groups:

    The first group contains one person who answered "yes" to 3 questions: a, b, and c.
    The second group contains three people; combined, they answered "yes" to 3 questions: a, b, and c.
    The third group contains two people; combined, they answered "yes" to 3 questions: a, b, and c.
    The fourth group contains four people; combined, they answered "yes" to only 1 question, a.
    The last group contains one person who answered "yes" to only 1 question, b.

In this example, the sum of these counts is 3 + 3 + 3 + 1 + 1 = 11.

For each group, count the number of questions to which anyone answered "yes". What is the sum of those counts?
```

# `--- Part Two ---`
```
As you finish the last group's customs declaration, you notice that you misread one word in the instructions:

You don't need to identify the questions to which anyone answered "yes"; you need to identify the questions to which everyone answered "yes"!

Using the same example as above:

abc

a
b
c

ab
ac

a
a
a
a

b

This list represents answers from five groups:

    In the first group, everyone (all 1 person) answered "yes" to 3 questions: a, b, and c.
    In the second group, there is no question to which everyone answered "yes".
    In the third group, everyone answered yes to only 1 question, a. Since some people did not answer "yes" to b or c, they don't count.
    In the fourth group, everyone answered yes to only 1 question, a.
    In the fifth group, everyone (all 1 person) answered "yes" to 1 question, b.

In this example, the sum of these counts is 3 + 0 + 1 + 1 + 1 = 6.

For each group, count the number of questions to which everyone answered "yes". What is the sum of those counts?
```

In [1]:
import pandas as pd
import numpy as np

import functools
import operator

In [2]:
test_txt = '''abc

a
b
c

ab
ac

a
a
a
a

b
'''

In [3]:
with open('input.txt') as fd:
    real_txt = fd.read()

## Part 1

In [21]:
def parse_input_p1(text):
    data = list()
    customs = dict()

    for line in text.splitlines():
        if len(line) == 0:
            data.append(customs.copy())
            customs = dict()
            continue
        for k in line:
            customs[k] = 1
    if len(customs) != 0:
        data.append(customs.copy())
    return pd.DataFrame(data).fillna(0).astype(np.int)

In [22]:
parse_input_p1(test_txt)

   a  b  c
0  1  1  1
1  1  1  1
2  1  1  1
3  1  0  0
4  0  1  0

In [23]:
parse_input_p1(test_txt).sum().sum()

11

In [24]:
parse_input_p1(real_txt).sum().sum()

6583

## Part 2

In [25]:
def parse_input_p2(text):
    data = list()
    group = 0

    for line in text.splitlines():
        if len(line) == 0:
            group += 1
            continue
        customs = dict()
        customs['group'] = group
        for k in line:
            customs[k] = 1
        data.append(customs.copy())
    return pd.DataFrame(data).fillna(0).astype(np.int)

In [26]:
parse_input_p2(test_txt)

    group  a  b  c
0       0  1  1  1
1       1  1  0  0
2       1  0  1  0
3       1  0  0  1
4       2  1  1  0
5       2  1  0  1
6       3  1  0  0
7       3  1  0  0
8       3  1  0  0
9       3  1  0  0
10      4  0  1  0

In [27]:
parse_input_p2(test_txt).groupby('group').agg(np.all).agg(np.sum, axis=1).sum()

6

In [28]:
parse_input_p2(real_txt).groupby('group').agg(np.all).agg(np.sum, axis=1).sum()

3290

## Part 1 Revisited using Part 2 Parser

The only difference between part one and part 2 is the aggregation within groups - part one includes questions answered by "any" mamber of the group whilst part two requires "all".  The part 1 answers can be derived by switching the `np.all` for `np.any` in the aggregation of the groups

<table>
    <tr><th> Part 1 (<tt>np.any</tt>) </th><th> Part 2 (<tt>np.all</tt>) </th></tr>
<tr><td>

|   group |   a |   b |   c |
|--------:|----:|----:|----:|
|       0 |   1 |   1 |   1 |
|       1 |   1 |   1 |   1 |
|       2 |   1 |   1 |   1 |
|       3 |   1 |   0 |   0 |
|       4 |   0 |   1 |   0 |


</td><td>

|   group |   a |   b |   c |
|--------:|----:|----:|----:|
|       0 |   1 |   1 |   1 |
|       1 |   0 |   0 |   0 |
|       2 |   1 |   0 |   0 |
|       3 |   1 |   0 |   0 |
|       4 |   0 |   1 |   0 |

</td></tr> </table>

In [30]:
parse_input_p2(test_txt).groupby('group').agg(np.any).agg(np.sum, axis=1).sum()

11

In [31]:
parse_input_p2(real_txt).groupby('group').agg(np.any).agg(np.sum, axis=1).sum()

6583