In [2]:
import pandas as pd

In [12]:
triples = pd.read_table('input.txt', header=None, delim_whitespace=True)

In [7]:
def valid(a,b,c):
    A, B, C = sorted([a, b, c])
    return not ((A + B) <= C)

In [20]:
triples['isvalid'] = triples.apply(lambda row: valid(row[0], row[1], row[2]), axis=1)

In [21]:
triples.head()

     0    1    2 isvalid
0  541  588  421    True
1  827  272  126   False
2  660  514  367    True
3   39  703  839   False
4  229  871    3   False

In [23]:
len(triples[triples['isvalid'] == True])

993

In [24]:
triples

        0    1    2 isvalid
0     541  588  421    True
1     827  272  126   False
2     660  514  367    True
3      39  703  839   False
4     229  871    3   False
5     237  956  841    True
6     898  566  112   False
7     101   79  112    True
8     813  541  146   False
9     603  135  565    True
10    335  363  180    True
11    382  493  669    True
12    545   81  843   False
13    657  960  849    True
14    823  909    9   False
15    370  194  908   False
16    101  750  317   False
17    295  671  968   False
18    656  431   64   False
19    634  291  245   False
20    819  663  266    True
21    504  662  829    True
22    760  590  918    True
23    733  859  258    True
24    197  651  137   False
25    357  799  638    True
26    544  250  597    True
27    604  654  431    True
28     90  870  184   False
29    609  535  604    True
...   ...  ...  ...     ...
1881  261  938  614   False
1882   42  327  679   False
1883  296  806  227   False
1884  251  681  523    True
1885  555  933  543    True
1886  802  343   31   False
1887  739  605  863    True
1888  581  553  337    True
1889  198  880  885    True
1890  139  466  781   False
1891  479  471  785    True
1892  565   29   36   False
1893  962  283  367   False
1894  756  881  927    True
1895  761  837  936    True
1896  413  712  289   False
1897  118  620   91   False
1898  297  732  256   False
1899  733  895  489    True
1900  163   12  540   False
1901  655  898  321    True
1902  241  509  371    True
1903  916  272  653    True
1904  688  281  810    True
1905  103  215  281    True
1906  987   92  408   False
1907  957  170  454   False
1908  466   88  293   False
1909   40  813  103   False
1910  436  766  254   False

[1911 rows x 4 columns]